/* Set default styles for all HTML elements */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Style the container div */
.container {
	max-width: 500px;
	margin: 90px auto;
	padding: 20px;
	border: 2px solid #ddd;
	border-radius: 5px;
	background: transparent;
}

/* Style the h1 element */
h1 {
	font-size: 34px;
	letter-spacing: 1px;
	margin-bottom: 30px;
	text-align: center;
	color: #6c0043;
}

/* Style the label element */
label {
	display: block;
	margin-bottom: 20px;
	margin-left: 5px;
	font-size: 20px;
}

/* Style the input element */
input {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
}

/* Style the select element */
select {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
}

/* Style the button element */
.btn {
  background-color: #6c0043;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 10px 0 20px 10.3rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;   
    
}

.btn:hover{
	background-color: hsl(260, 96%, 22%) ;
  }

   
/* Style the result paragraph */
#result {
	font-size: 24px;
	text-align: center;
	color: #6c0043;
}